

@import './../../../../styles/_config';



.slider-{
    //Estilos generales slider home

    &-home{
        background: #ccc;


        .slick-dots {
            position: absolute;
            margin: auto;
            display: flex !important;
            transform: translate(-50%,0);
            left: 50%;
            box-shadow: 0 15px 19px -11px rgba(0,0,0,.75);
            background: rgba(0,0,0,.25);
            border-radius: 6px;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 17px;
                bottom: 0;
                width: 90%;
                height: 0;
                margin: auto;
                -webkit-box-shadow: 0 20px 31px 16px rgba(0,0,0,.9);
                box-shadow: 0 20px 31px 16px rgba(0,0,0,.9);
                z-index: 0;
            }

            .slick-active{
                color: #fff;
                background-color: #00A8EE;
            }

            button{
                background-color: transparent;
                height: 40px;
                vertical-align: middle;
                position: relative;
                width: 100%;
                color: #fff;
                padding: 6px 20px;
                transition: all .4s ease;
                text-align: center;
                border: none;
                cursor: pointer;
                z-index: 1;
            }


        }

        .slick-arrow {
            position: absolute;
            width: 20px;
            height: 20px;
            background: red;
            display: block; 
            z-index: 2;
            top: 0;
            bottom: 0;
            margin: auto;
    
        }
    
        .slick-prev {
            left: 0;
        }
    
        .slick-next {
            right: 0;
        }

       


    }


    

    

}