
.homeTenderBox{
    width: 100%;
    position: relative;
    background-size: cover;

    a{
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__top{
        min-height: 360px;
        
        &--left{
            background-position: top right;
        }
        &--right{
            background-position: top left;
        }
    }

    &__bottom{
        min-height: 510px;
        &--left{
            background-position: top right;
        }
        &--center{
            background-position: top center;
        }
        &--right{
            background-position: top left;
        }
    }
}